1.  What is indentation error? Why indentation is important? Give one simple example?

Answer:- 
- Indentattion error is the space given under the if- else condition. if indentation error is not given if else condition will not give output.
- Indentation error allows a contion to run for logical,equality and comparision operators.

Example-1 indentation is not given so indentation errto is showing.

In [86]:
movie = True
if movie:
print(f"then we wil go with family and ejoy this weekend")
else:
print(f"then we wil go with family and ejoy this weekend")

IndentationError: ignored

1. Example- indentation given hence output is printed.

In [13]:
movie = True
if movie:
  print(f"then we wil go with family and ejoy this weekend")
else:
  print(f"then we wil go with family and ejoy this weekend")

then we wil go with family and ejoy this weekend

2. Correct the following code and write the comment where you made the correction?

In [14]:
class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

if class_started:
   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise")

Hey friend, is class started?: [0-False/1-True]True
Since class started...
Lets concentrate

3. Use if else condition to verify that dataype of `input()` method in python is always string.

In [15]:
data_type_of_input_method = True
if data_type_of_input_method:
  print(f"data type of input method is always a string: ")
else:
  print(f"data tyep input method is not string")

data type of input method is always a string:

4. Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.

In [16]:
## Taking a,b,c variables
a = 1
b = 3
c = 5
if a>b>c:
  print(f"a:{a}> b:{b} >c:{c}")
else:
  print(f"c>b>a: ")
  print(f"{5}>{3}>{1}")
  print(f"largest variable is: c" )

c>b>a:
5>3>1
largest variable is: c

5. What would be the solution?
    1. True
    2. False

    ```python
    a = 6
    b = 10
    print( not ( not a == 10 or not b == 10) )

In [2]:
## Taking a & b values
a = 6
b = 10
if a is not b:
  print( not ( not a == 10 or not b == 10) )
  print(f"statement is true")
else:
  print( not ( not a == 10 or not b == 10) )
  print(f"statement is false")

False
statement is true

6. Find the answer as well as find out the reason behind the result? -
    - case 1:
        ```python
        A = 5.0
        B = 10/2
        print(A is B)
        ```
    - case 2:
        ```python
        A = 5.0
        B = int(10/2)
        print(A is B)
        ```
    - case 3:
        ```python
        A = 5.0
        B = float(10/2)
        print(A is B)
        ```

In [3]:
# Case - 1
A = 5.0
B =  10/2
if A == B:     # A is float type & B is float type so A != B
    print(f"Then A is equal to B: ")
else:
    print(f"A is not equal to B: ")

Then A is equal to B:

In [4]:
# Case - 2
A = 5.0
B = int(10/2)
if A == B:     # A is float type & B is integer type so A != B
    print(f"Then A is equal to B: ")
else:
    print(f"A is not equal to B: ")

Then A is equal to B:

In [5]:
  A = 5.0
  B = float(10/2)
  if A == B:           # A is float type & B is float type so A = B
    print(f"Then A is equal to B: ")
  else:
    print(f"A is not equal to B: ")

Then A is equal to B:

### Try to understand the following examples and answer the question based on it - 
    
**Arithmatic Operators**

|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|

In [6]:
var_a = 5
var_b = 25
integer_division = var_b//var_a
print(f"integer division is :var_b//var_a = {integer_division} ")

integer division is :var_b//var_a = 5

In [7]:
var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder is :var_b % var_a = {remainder} ")

remainder is :var_b % var_a = 0

In [8]:
var_a = 5
var_b = 25
multiplication = var_b * var_a
print(f"multiplication is :var_b * var_a = {multiplication} ")

multiplication is :var_b * var_a = 125

In [9]:
var_a = 5
var_b = 25
addition = var_b + var_a
print(f"addition is :var_b + var_a = {addition} ")

addition is :var_b + var_a = 30

In [10]:
var_a = 5
var_b = 25
true_division = var_b / var_a
print(f"true division is :var_b / var_a = {true_division} ")

true division is :var_b / var_a = 5.0

### Answer below questions on the above theory - 

7. Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

In [39]:
A = int(input("enter a number: "))
if A:
  print(f"A is divisible by 5: ")
else:
  print(f"A is not divisible by 5: ")

enter a number: 68
A is divisible by 5:

In [38]:
A = int(input("enter a number: "))
if A:
  print(f"A is divisible by 3: ")
else:
  print(f"A is not divisible by 3: ")

enter a number: 24
A is divisible by 3:

8. Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

In [60]:
length = int(input("Enter length of object: "))
width = int(input("Enter width of object: "))
area_of_square = length*width
print(f"arae of square:(length)=(width) {length}={width}, thus it is square")
print(f"area: {area} ")

Enter length of object: 10
Enter width of object: 10
arae of square:(length)=(width) 10=10, thus it is square
area: 200

In [63]:
length = int(input("Enter length of object: "))
width = int(input("Enter width of object: "))
area_of_rectangle = length*width
print(f"arae of rectangle:(length)!=(width) {length}!={width}, thus it is rectangle")
print(f"area: {area_of_rectangle} ")

Enter length of object: 30
Enter width of object: 50
arae of rectangle:(length)!=(width) 30!=50, thus it is rectangle
area: 1500

9. Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

In [69]:
r1 = 5
r2 = 10
area_of_circle_1 = r1**r1 
print(f"area of circle-1: {area_of_circle_1}")

area_of_circle_2 = r2**r2
print(f"area of circle-2: {area_of_circle_2}")
if area_of_circle_1 < area_of_circle_2:
  print(f"area_of_circle_1: {area_of_circle_1} < area_of_circle_2: {area_of_circle_2} ")
  print(f"area_of_circle_2: {area_of_circle_2} has large area")
else:
  print(f"both areas are equal: {area_of_circle_1}={area_of_circle_2}")

area of circle-1: 3125
area of circle-2: 10000000000
area_of_circle_1: 3125 < area_of_circle_2: 10000000000
area_of_circle_2: 10000000000 has large area


10. Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

In [78]:

year = 2016
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("True")
        else:
            print("False")
    else:
        print("True")
else:
    print("False")

True

In [82]:
year = 2016
if ((year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)):
  print("True")
else:
  print("False")   # since 2016 is aleap year

True

In [83]:
year = 2000
if ((year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)):
  print("True")
else:
  print("False")

True

In [85]:
year = 2100
if ((year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)):
  print("True")
else:
  print("False")

False

In [84]:
year = 2022
if ((year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)):
  print("True")
else:
  print("False")

False